body{
    background-color:#D5E8FE;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color:#0B0C30;
    font-size:1.05em;
    line-height:2.2em;
}

header{
    background-color: #041071;
    height:250px;
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%
}

h1, h2{
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#FF0303;
    margin:0;
    text-transform: uppercase;
}

h1{
    font-size:5.5em;
    text-align:center;
    line-height:1em;
}

h2{
    text-align:center;
    line-height:1em;
    font-size:3em;
    margin-bottom:40px;
    margin-top:20px;
}

main{
    margin:auto;
    width:100%;
    /* min-width: 555px; */
}

section{
    justify-content: center;
    margin-top:40px;
    margin-bottom:20px;
}
img{
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto;

}
