#container{
    margin: 0 auto;
    min-width:300px;
}

body{
    background-color:#D5E8FE;
    margin:0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#0B0C30;
    font-size:1.05em;
    
}

#banner{
    background-color: #041071;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:5px;
}

.eyesContainer{
    position: relative;
    width: clamp(300px, 40vw, 700px);
}
.eyes{
    width: 100%;
    height: auto;
    display: block;
}

.pupils{
    position: absolute;
    top: 5%;            
    left: 48%;
    width: 100%;
    height: auto;
    transform: translateX(-45%);
    pointer-events: none;
    animation: look 3s ease-in-out infinite;
}
h1, h2{
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#FF0303;
    margin:0;
}
h1{
    font-size:4.5em;
    text-align:center;
}
h2{
    text-align:center;
    font-size:2em;
    margin-top:20px;
    margin-bottom:2px;
}
#tagline{
    display:flex;
    flex-direction:column;
    align-items: center;
    line-height: 0.5;
    margin-top:20px;
    margin-bottom:20px;
}
.projects{
    display:flex;
    flex-direction:column;
    flex: 1;
    align-items: center;
    gap:40px;
}
.projectBox{
    background-color:#FDFEFF;
    text-align:left;
    height:261px;
    width:267px;
    border-radius: 50px;

}
ul{
    list-style-type: none;
    margin-left:30px;
    padding:0;
    line-height:2em;
    display:block;
}
ul li a{
    text-decoration:none;
    color: #0B0C30;
    transition: color .5s ease-in-out;

}
ul li a:hover{
    color:#FF0303;

}
footer{
    text-align:center;
    margin:30px;
    line-height:2em;
}

footer a{
    text-decoration:none;
    color:#0B0C30;
    transition: color .5s ease-in-out;
}
footer a:hover{
    color:#FF0303;

}

/* translate animation for darting eyes */
@keyframes look {
    0%, 15%, 85%, 100% {
        transform: translateX(-45%) translateX(-5%);
    }
    42.5%, 57.5% {
        transform: translateX(-75%) translateX(5%);
    }
}
@media only screen and (min-width: 600px) {
    #container{
        max-width: 1200px;
        min-width: 800px;
    }
    
    #banner{
        flex-direction:row;
        gap:50px;
        padding: 0 40px;
        align-items:center;
        justify-content:center;
    }
    h1{
        font-size: clamp(5em, 13vw, 9em);
        text-align: right;
    
    }
    #tagline{
        margin-top:30px;
        flex-direction:row;
        justify-content: center;
    }
    .projects{
        margin-top: 20px;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: center;
        gap:20px;
    }
    ul{
        line-height:2em;
        font-size:.9em;
    }
}
