body{
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    /* text-align:center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: #FFFEFB;
    margin: auto;
    width: 600px;
    /* text-align:center; */
}

/* overlay */
#overlay{
    position: absolute;
    display:flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#overlayContent{
    box-sizing: border-box;
    background-color:#FFFEFB;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#overlayContent li{
    list-style-type: none;
    margin-top:10px;
    margin-bottom: 10px;
}
#overlayContent ul{
    margin-top: 30px;
    margin-bottom: 30px;
}

#overlay button{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFEFB;
    margin: 20px 0 20px 0;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

#overlay button:hover{
    background-color: black;
    color: #FFFEFB;
}
#overlay.hidden{
    display: none;
}

/* game display */
h1{
    font-size: 4em;
    text-align: center;
}

h2{
    font-size: 3em;
}

#scores{
    display: flex;
    gap: 90px;
    justify-content: center;
    font-size: 1.5em;
    
}
header{
    margin: auto;
    width: 800px;
    text-align: center;
    padding: 50px;
}
/* picker screen */
#pickerContainer.hidden{
    display:none;
}
#pickerContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#colorPicker{
    width: 250px;
    height: 250px;
    margin: 40px auto;
}
#colorBox{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: 40px auto;
}
#colorBox.hidden{
    display:none;
}

.color-box.small{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 40px auto;
}
#submitBtn{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFEFB;
    margin: 20px 0 20px 0;
    padding: 10px;
    width: 200px;
}

#submitBtn:hover{
    background-color: black;
    color: #FFFEFB;
    transition: 0.5s ease-in-out;
}
/* answer screen */

#answerScreen{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;
}
#answerBoxes{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

#answerScreen.hidden{
    display:none;
}

#nextRound{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFEFB;
    margin: 20px 0 20px 0;
    padding: 10px;
    width: 200px;
}

#nextRound:hover{
    background-color: black;
    color: #FFFEFB;
    transition: 0.5s ease-in-out;
}

#winScreen{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
    margin:40px;
}

#winScreen.hidden{
    display:none;
}
#playAgain{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFFEFB;
    margin: 20px 0 20px 0;
    padding: 10px;
    width: 200px;
}

#playAgain:hover{
    background-color: black;
    color: #FFFEFB;
    transition: 0.5s ease-in-out;
}