* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	color: #333;
}

main {
	width: 30vw;
	padding: 20px;
}

section {
	height: 100vh;
}

p {
	line-height: 1.5em;
}

figure {
	display: block;
	margin: 0;
	width: 70vw;
	height: 100vh;
	position: fixed;
	top:0;
	right:0;
	overflow: hidden;
}

figure img {
	position: absolute;
	transition: all 3s ease;
}

.sect1{
	width: 130vh; /*adjusted to fit vertical images*/
	top:0;
	left: 50%;
	transform:translateX(-50%);
}

.sect2,
.sect3,
.sect4/* ,
.sect5,
.sect6 */{
    width: 3768px;
}

.sect2 {
    top: calc(-1867px + 100vh);
    left: calc(-2207px + 100vh);
}

.sect3 {
    top: calc(-1167px + 100vh);
    left: calc(-3068px + 70vw);
}

.sect4 {
	top: calc(-3267px + 100vh);
    left: calc(-3128px + 70vw);
}

/* .sect5 {
    top: calc(-2567px + 100vh);
    left: calc(-3768px + 70vw);
}

.sect6 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
