body{
    background-color:#D5E8FE;
    margin:0;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color:#0B0C30;
    font-size:1.05em;
    line-height:1.8em;
}

header{
    background-color: #041071;
    height:250px;
    display:flex;
    align-items:center;
    justify-content: center;
}

h1, h2{
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#FF0303;
    margin:0;
    text-transform: uppercase;
}

h1{
    font-size:4.5em;
    text-align:center;
    line-height:1em;
}

h2{
    text-align:center;
    font-size:2em;
    margin-top:20px;
    margin-bottom:2px;
}
main{
    /* display:flex; */
    flex-direction:column;
    justify-content:center;
    max-width:600px;
}

article{
    background-color:#FDFEFF;
    text-align:left;
    padding:40px;
    border-radius: 50px;
}