body{
    background-color:#D5E8FE;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color:#0B0C30;
    font-size:1.05em;
    line-height:2.2em;
}

header{
    background-color: #041071;
    height:250px;
    display:flex;
    align-items:center;
    justify-content: center;
    min-width:560px;
}

h1, h2{
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#FF0303;
    margin:0;
    text-transform: uppercase;
}

h1{
    font-size:5.5em;
    text-align:center;
    line-height:1em;
}

h2{
    text-align:center;
    line-height:1em;
    font-size:3em;
    margin-bottom:40px;
    margin-top:20px;
}
time{
    display:block;
    text-align:center;
    font-size: 1.3em;
    margin-bottom: 30px;
}
main{
    margin: auto;
    width:95%;
    min-width: 555px;
}

article{
    background-color:#FDFEFF;
    text-align:left;
    padding:40px;
    border-radius: 50px;
    margin: 40px;
}
article p{
    margin-bottom:40px;
}

article a{
    color:#0B0C30;
    transition: color .5s ease-in-out;
}

article a:hover{
    color:#FF0303;
}

footer{
    text-align:center;
    margin:30px;
    line-height:2em;
}

footer a{
    text-decoration:none;
    color:#0B0C30;
    transition: color .5s ease-in-out;
}
footer a:hover{
    color:#FF0303;

}
figure{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 30px;
}
img{
    display:block;
    margin: auto;
    padding-bottom: 10px;
    
    
}
@media only screen and (min-width: 600px) {

    main{
        width: 70%
    }
}